dmd-form-group {
  align-items: baseline;
  display: grid;
  gap: var(--dmd-spacing-sm);

  label:not(dmd-radio-checkbox label) {
    /* Negate the extra label height to account for the form group gap */
    margin-block: calc(
      (var(--dmd-label-height) / var(--dmd-font-line-height) / 4) * -1
    );
  }

  @media (width >= 768px) {
    &[orientation='horizontal'] {
      grid-template-columns: 1fr 1fr;

      :not(:first-child) {
        grid-column: 2;
      }
    }
  }
}
