docs-swatch {
  background: var(--diakond-color-white);
  border: 1px solid var(--diamond-color-grey-200);
  border-radius: var(--diamond-radius-sm);
  display: block;
  overflow: hidden;
  padding: var(--diamond-spacing);

  &::before {
    background: var(--swatch-color);
    content: '';
    display: block;
    height: 96px;
    margin: calc(var(--diamond-spacing) * -1) calc(var(--diamond-spacing) * -1)
      var(--diamond-spacing) !important;
  }

  h4 {
    font-size: var(--diamond-font-size-sm);
    font-weight: var(--diamond-font-weight-bold);
    margin: 0 0 var(--diamond-spacing-xs);
    text-transform: capitalize;
  }

  code {
    background: var(--diamond-color-grey-100);
    display: block;
    font-size: var(--diamond-font-size-xs) !important;
    margin-right: var(--diamond-spacing) !important;
    overflow: hidden;
    padding: calc(var(--diamond-spacing-xs) / 2) var(--diamond-spacing-xs);
    text-overflow: ellipsis;
  }
}
