@import url('styles/tokens/pulse.css');

diamond-loading-img {
  img {
    visibility: hidden;
  }
  animation: pulse 3s infinite linear;
  background: linear-gradient(
    90deg,
    var(--diamond-color-grey-100) 25%,
    var(--diamond-color-grey-300) 50%,
    var(--diamond-color-grey-100) 75%
  );
  background-size: 200% 100%;
  display: inline-block;

  &[block],
  &[block] img {
    display: block;
  }

  &[responsive] {
    width: 100%;

    img {
      height: auto;
      width: 100%;
    }
  }

  &[radius] {
    border-radius: var(--diamond-radius);
    overflow: hidden;
  }
}
