dmd-img {
  display: inline-block;

  &[block],
  &[block] img,
  &[block] dmd-loading-img {
    display: block;
  }

  &[responsive] {
    width: 100%;

    img,
    dmd-loading-img {
      height: auto;
      width: 100%;
    }
  }

  &[radius] {
    border-radius: var(--dmd-radius);
    overflow: hidden;
  }

  &[aspect-ratio],
  &[aspect-ratio] img,
  &[aspect-ratio] dmd-loading-img {
    aspect-ratio: var(--dmd-img-aspect-ratio);
  }

  &[object-fit] img,
  &[object-fit] dmd-loading-img {
    object-fit: var(--dmd-img-object-fit);
  }

  &[object-position] img,
  &[object-position] dmd-loading-img {
    object-position: var(--dmd-img-object-position);
  }
}
