dmd-link {
  --dmd-link-text-decoration: var(--dmd-theme-link-text-decoration);

  a,
  button {
    appearance: none;
    background: none;
    border: 0 none;
    color: var(--dmd-theme-link-color);
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-decoration: var(--dmd-link-text-decoration);
  }

  &[variant='underline'] {
    --dmd-link-text-decoration: underline;
  }

  &[variant='no-underline'] {
    --dmd-link-text-decoration: none;
  }
}
