@import url('../../../styles/tokens/pulse.css');
@import '../../../styles/mixins/button.css';

diamond-loading-button {
  button,
  a,
  input:not([type='file']),
  input[type='file']::file-selector-button {
    align-items: center;
    animation: pulse var(--diamond-pulse-duration) infinite linear;
    appearance: none;
    background: linear-gradient(
      90deg,
      var(--diamond-color-grey-100) 25%,
      var(--diamond-color-grey-300) 50%,
      var(--diamond-color-grey-100) 75%
    );
    background-size: 200% 100%;
    border: transparent;
    color: transparent;
    display: inline-block;
    touch-action: none;
  }
}
