dialog {
  background: none;
  border: 0 none;
  opacity: 0;
  padding: 0;
  transform: translateY(1rem);
  transition:
    opacity var(--dmd-transition),
    display var(--dmd-transition) allow-discrete,
    overlay var(--dmd-transition) allow-discrete,
    transform var(--dmd-transition);

  &::backdrop {
    background-color: var(--dmd-backdrop, var(--dmd-color-grey-600));
    opacity: 0;
    transition:
      opacity var(--dmd-transition),
      display var(--dmd-transition) allow-discrete,
      overlay var(--dmd-transition) allow-discrete;
  }

  &[open] {
    opacity: 1;
    transform: none;
    transition-delay: calc(var(--dmd-transition-duration) * 0.5);
  }

  &[open]::backdrop {
    opacity: var(--dmd-backdrop-opacity, 0.4);
  }
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transform: translateY(1rem);
  }

  dialog[open]::backdrop {
    opacity: 0;
  }
}
