dmd-wrap {
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding-inline: var(--dmd-spacing);

  &[gutter='xs'] {
    padding-inline: var(--dmd-spacing-xs);
  }

  &[gutter='sm'] {
    padding-inline: var(--dmd-spacing-sm);
  }

  &[gutter='md'] {
    padding-inline: var(--dmd-spacing);
  }

  &[gutter='lg'] {
    padding-inline: var(--dmd-spacing-lg);
  }

  &[gutter='xl'] {
    padding-inline: var(--dmd-spacing-xl);
  }

  &[gutter='none'] {
    padding-inline: 0;
  }

  &[size='xs'] {
    max-width: var(--dmd-wrap-xs);
  }

  &[size='sm'] {
    max-width: var(--dmd-wrap-sm);
  }

  &[size='md'] {
    max-width: var(--dmd-wrap-md);
  }

  &[size='lg'] {
    max-width: var(--dmd-wrap-lg);
  }

  &[size='xl'] {
    max-width: var(--dmd-wrap-xl);
  }

  &[size='xxl'] {
    max-width: var(--dmd-wrap-xxl);
  }

  &[size='xxxl'] {
    max-width: var(--dmd-wrap-xxxl);
  }

  &[size='xxxxl'] {
    max-width: var(--dmd-wrap-xxxxl);
  }
}
