diamond-wrap {
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding-inline: var(--diamond-spacing);
}

diamond-wrap[gutter='xs'] {
  padding-inline: var(--diamond-spacing-xs);
}

diamond-wrap[gutter='sm'] {
  padding-inline: var(--diamond-spacing-sm);
}

diamond-wrap[gutter='md'] {
  padding-inline: var(--diamond-spacing);
}

diamond-wrap[gutter='lg'] {
  padding-inline: var(--diamond-spacing-lg);
}

diamond-wrap[gutter='xl'] {
  padding-inline: var(--diamond-spacing-xl);
}

diamond-wrap[gutter='none'] {
  padding-inline: 0;
}

diamond-wrap[size='xs'] {
  max-width: 320px;
}

diamond-wrap[size='sm'] {
  max-width: 480px;
}

diamond-wrap[size='md'] {
  max-width: 600px;
}

diamond-wrap[size='lg'] {
  max-width: 768px;
}

diamond-wrap[size='xl'] {
  max-width: 1024px;
}

diamond-wrap[size='xxl'] {
  max-width: 1280px;
}

diamond-wrap[size='xxxl'] {
  max-width: 1440px;
}

diamond-wrap[size='xxxxl'] {
  max-width: 1920px;
}
