.dmd-hidden-small-mobile {
  display: none;
}

.dmd-visible-small-mobile {
  display: block;
}

@media (width >= 375px) {
  .dmd-hidden-mobile {
    display: none;
  }

  .dmd-visible-mobile {
    display: block;
  }
}

@media (width >= 480px) {
  .dmd-hidden-large-mobile {
    display: none;
  }

  .dmd-visible-large-mobile {
    display: block;
  }
}

@media (width >= 600px) {
  .dmd-hidden-small-tablet {
    display: none;
  }

  .dmd-visible-small-tablet {
    display: block;
  }
}

@media (width >= 768px) {
  .dmd-hidden-tablet {
    display: none;
  }

  .dmd-visible-tablet {
    display: block;
  }
}

@media (width >= 1024px) {
  .dmd-hidden-large-tablet {
    display: none;
  }

  .dmd-visible-large-tablet {
    display: block;
  }
}

@media (width >= 1280px) {
  .dmd-hidden-small-desktop {
    display: none;
  }

  .dmd-visible-small-desktop {
    display: block;
  }
}

@media (width >= 1440px) {
  .dmd-hidden-desktop {
    display: none;
  }

  .dmd-visible-desktop {
    display: block;
  }
}

@media (width >= 1920px) {
  .dmd-hidden-large-desktop {
    display: none;
  }

  .dmd-visible-large-desktop {
    display: block;
  }
}
