/* top */
.dmd-spacing-top-none {
  margin-top: 0;
}

.dmd-spacing-top-xs {
  margin-top: var(--dmd-spacing-xs);
}

.dmd-spacing-top-sm {
  margin-top: var(--dmd-spacing-sm);
}

.dmd-spacing-top-md {
  margin-top: var(--dmd-spacing);
}

.dmd-spacing-top-lg {
  margin-top: var(--dmd-spacing-lg);
}

.dmd-spacing-top-xl {
  margin-top: var(--dmd-spacing-xl);
}

.dmd-spacing-top-fluid {
  margin-top: var(--dmd-spacing-fluid);
}

.dmd-spacing-top-fluid-sm {
  margin-top: var(--dmd-spacing-fluid-sm);
}

.dmd-spacing-top-fluid-lg {
  margin-top: var(--dmd-spacing-fluid-lg);
}

/* bottom */
.dmd-spacing-bottom-none {
  margin-bottom: 0;
}

.dmd-spacing-bottom-xs {
  margin-bottom: var(--dmd-spacing-xs);
}

.dmd-spacing-bottom-sm {
  margin-bottom: var(--dmd-spacing-sm);
}

.dmd-spacing-bottom-md {
  margin-bottom: var(--dmd-spacing);
}

.dmd-spacing-bottom-lg {
  margin-bottom: var(--dmd-spacing-lg);
}

.dmd-spacing-bottom-xl {
  margin-bottom: var(--dmd-spacing-xl);
}

.dmd-spacing-bottom-fluid {
  margin-bottom: var(--dmd-spacing-fluid);
}

.dmd-spacing-bottom-fluid-sm {
  margin-bottom: var(--dmd-spacing-fluid-sm);
}

.dmd-spacing-bottom-fluid-lg {
  margin-bottom: var(--dmd-spacing-fluid-lg);
}
