@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate(0, 1rem);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes boing {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

dmd-enter {
  animation-duration: var(--dmd-transition-duration-enter);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: var(--dmd-transition-enter-animation);
  animation-timing-function: var(--dmd-transition-timing-enter);
  display: block;
  opacity: 0;

  &[delay] {
    animation-delay: var(--dmd-transition-enter-delay);
  }

  &[type='boing'] {
    animation-timing-function: var(--dmd-transition-timing-boing);
  }

  &[fill] {
    display: grid;
  }
}
