dmd-help-text {
  color: var(--dmd-help-text-color);
  font-size: var(--dmd-help-text-font-size);

  &[state='valid'] {
    color: var(--dmd-help-text-color-valid);
  }

  &[state='invalid'] {
    color: var(--dmd-help-text-color-invalid);
  }
}
