label,
legend {
  align-items: center;
  color: var(--dmd-label-color);
  display: flex;
  font-size: var(--dmd-label-font-size);
  font-weight: var(--dmd-label-font-weight);
  min-height: var(--dmd-label-height);
}
