dmd-card {
  background: var(--dmd-theme-background);
  border: 0 none;
  color: var(--dmd-theme-color);
  display: block;
  padding: var(--dmd-spacing);
  transition: border-color var(--dmd-transition);

  &[shadow] {
    box-shadow: var(--dmd-shadow);
  }

  &[muted] {
    background: var(--dmd-theme-background-muted);
  }

  &[radius] {
    border-radius: var(--dmd-radius);
    overflow: hidden;
  }

  &[padding='xs'] {
    padding: var(--dmd-spacing-xs);
  }

  &[padding='sm'] {
    padding: var(--dmd-spacing-sm);
  }

  &[padding='lg'] {
    padding: var(--dmd-spacing-lg);
  }

  &[padding='xl'] {
    padding: var(--dmd-spacing-xl);
  }

  &[padding='fluid-sm'] {
    padding: var(--dmd-spacing-fluid-sm);
  }

  &[padding='fluid'] {
    padding: var(--dmd-spacing-fluid);
  }

  &[padding='fluid-lg'] {
    padding: var(--dmd-spacing-fluid-lg);
  }

  &[padding='none'] {
    padding: 0;
  }

  &[border] {
    border: 1px solid var(--dmd-theme-border-color);
  }

  @media (hover: hover) {
    &[border][href]:hover {
      border-color: var(--dmd-theme-border-color-hover);
    }
  }
}

button,
a {
  &:hover,
  &:focus-visible {
    dmd-card {
      border-color: var(--dmd-theme-border-color-hover);
    }
  }
}
