a,
button,
label {
  &:has(dmd-card, [data-interactive]) {
    appearance: none;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
  }
}
