* {
  box-sizing: border-box;
}

body {
  background: var(--dmd-theme-background);
  color: var(--dmd-theme-color);
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

hr {
  border: 0 none;
  border-bottom: 1px solid var(--dmd-theme-border-color);
  margin: 0;
  padding: 0;
}
