body {
  font-family: var(--dmd-font-family);
  font-size: var(--dmd-font-size-base);
  -webkit-font-smoothing: antialiased;
  line-height: var(--dmd-font-line-height);
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  color: var(--dmd-theme-heading-color);
  font-weight: var(--dmd-font-weight-bold);
  line-height: var(--dmd-font-line-height-heading);
  margin-bottom: var(--dmd-spacing-sm);
  margin-top: 0;
  text-wrap: balance;
}

h1 {
  font-size: var(--dmd-font-size-h1);
}

h2 {
  font-size: var(--dmd-font-size-h2);
}

h3 {
  font-size: var(--dmd-font-size-h3);
}

h4 {
  font-size: var(--dmd-font-size-h4);
}

p {
  margin-bottom: var(--dmd-spacing-sm);
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0 0 var(--dmd-spacing-sm) var(--dmd-spacing-xs);
  padding-left: var(--dmd-spacing);
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

dl {
  margin: 0 0 var(--dmd-spacing-sm);
}

dt,
dd {
  margin: 0;
  padding: 0;
}

a {
  color: var(--dmd-theme-link-color);
  text-decoration: var(--dmd-theme-link-text-decoration);
}

b,
strong {
  font-weight: var(--dmd-font-weight-bold);
}
