dmd-icon {
  align-items: baseline;
  color: var(--dmd-theme-icon-color);
  display: inline-flex;

  &::part(icon) {
    align-items: center;
    display: flex;
    height: 1em;
    justify-content: center;
    position: relative;
    top: var(--dmd-icon-baseline-adjust);
    width: var(--dmd-icon-size);
  }

  svg {
    aspect-ratio: 1 / 1;
    display: block;
    flex: 0 0 var(--dmd-icon-size);
    height: var(--dmd-icon-size);
    min-width: var(--dmd-icon-size);
    width: var(--dmd-icon-size);
  }

  &[variant='circle'] {
    &::part(icon)::before {
      background-color: var(--dmd-theme-icon-color);
      border-radius: 100%;
      content: '';
      display: block;
      height: var(--dmd-icon-size);
      position: absolute;
      width: var(--dmd-icon-size);
    }

    svg {
      color: var(--dmd-theme-background);
      transform: scale(0.75);
      z-index: 1;
    }
  }
}
