:root {
  --diamond-button-border-radius: var(--diamond-border-radius);
  --diamond-button-text-shadow: 0 1px 0 var(--diamond-color-grey-100);
  --diamond-button-file-background: var(--diamond-color-grey-100);
  --diamond-button-padding-inline: var(--diamond-spacing);
  --diamond-button-padding-block: var(--diamond-spacing-sm);
  --diamond-button-gap: 0.75ch;
  --diamond-button-outline-offset: 5px;
  --diamond-button-font-weight: var(--diamond-font-size-base);
  --diamond-button-icon-size: 2ch;

  /* Default variant */
  --diamond-button-background: var(--diamond-theme-background);
  --diamond-button-background-hover: var(--diamond-theme-background);
  --diamond-button-background-disabled: var(--diamond-theme-background);
  --diamond-button-border-color: var(--diamond-theme-border-color);
  --diamond-button-border-color-hover: var(--diamond-theme-color);
  --diamond-button-border-color-disabled: var(--diamond-theme-border-color);
  --diamond-button-color: var(--diamond-theme-color);
  --diamond-button-color-hover: var(--diamond-theme-color);
  --diamond-button-color-disabled: var(--diamond-theme-color-muted);

  /* Primary variant */
  --diamond-button-primary-background: var(--diamond-color-grey-800);
  --diamond-button-primary-background-hover: var(--diamond-color-grey-900);
  --diamond-button-primary-background-disabled: var(--diamond-color-grey-600);
  --diamond-button-primary-border-color: var(
    --diamond-button-primary-background
  );
  --diamond-button-primary-border-color-hover: var(
    --diamond-button-primary-background-hover
  );
  --diamond-button-primary-border-color-disabled: var(
    --diamond-button-primary-background-disabled
  );
  --diamond-button-primary-color: var(--diamond-theme-background);
  --diamond-button-primary-color-hover: var(--diamond-theme-background);
  --diamond-button-primary-color-disabled: var(--diamond-theme-background);

  /* Secondary variant */
  --diamond-button-secondary-background: var(--diamond-theme-background-muted);
  --diamond-button-secondary-background-hover: var(
    --diamond-theme-background-muted
  );
  --diamond-button-secondary-background-disabled: var(
    --diamond-theme-background-muted
  );
  --diamond-button-secondary-border-color: var(
    --diamond-theme-background-muted
  );
  --diamond-button-secondary-border-color-hover: var(--diamond-theme-color);
  --diamond-button-secondary-border-color-disabled: var(
    --diamond-theme-background-muted
  );
  --diamond-button-secondary-color: var(--diamond-theme-color);
  --diamond-button-secondary-color-hover: var(--diamond-theme-color);
  --diamond-button-secondary-color-disabled: var(--diamond-theme-color-muted);

  /* Text variant */
  --diamond-button-text-background: none;
  --diamond-button-text-background-hover: var(--diamond-color-grey-100);
  --diamond-button-text-background-disabled: none;
  --diamond-button-text-border-color: transparent;
  --diamond-button-text-border-color-hover: transparent;
  --diamond-button-text-border-color-disabled: transparent;
  --diamond-button-text-color: var(--diamond-theme-color);
  --diamond-button-text-color-hover: var(--diamond-theme-color);
  --diamond-button-text-color-disabled: var(--diamond-theme-color-muted);
}
