:root,
::backdrop {
  --dmd-color-white: #fff;

  --dmd-color-grey-50: #f2f2f2;
  --dmd-color-grey-100: #e6e6e6;
  --dmd-color-grey-200: #ccc;
  --dmd-color-grey-300: #b3b3b3;
  --dmd-color-grey-400: #999;
  --dmd-color-grey-500: #808080;
  --dmd-color-grey-600: #666;
  --dmd-color-grey-700: #4d4d4d;
  --dmd-color-grey-800: #333;
  --dmd-color-grey-900: #1a1a1a;

  --dmd-color-black: #000;

  --dmd-color-green-100: #219653;

  --dmd-color-red-100: #eb5757;

  --dmd-color-valid: var(--dmd-color-green-100);
  --dmd-color-invalid: var(--dmd-color-red-100);
}
