:root {
  --dmd-font-family: -apple-system, system-ui, blinkmacsystemfont, roboto,
    helvetica, arial, sans-serif;
  --dmd-font-family-heading: var(--dmd-font-family);

  --dmd-font-line-height: 1.5;
  --dmd-font-line-height-sm: 1.25;
  --dmd-font-line-height-heading: var(--dmd-font-line-height-sm);

  --dmd-font-size-default: 1rem;
  --dmd-font-size-xs: 0.75em;
  --dmd-font-size-sm: 0.875em;
  --dmd-font-size-base: 0.875rem;
  --dmd-font-size-md: 1.125em;
  --dmd-font-size-lg: 1.25em;
  --dmd-font-size-xl: 1.5em;
  --dmd-font-size-xxl: 2em;
  --dmd-font-size-xxxl: 3em;

  --dmd-font-size-h1: 2rem;
  --dmd-font-size-h2: 1.75rem;
  --dmd-font-size-h3: 1.5rem;
  --dmd-font-size-h4: 1.25rem;

  --dmd-icon-size: calc(1em * var(--dmd-font-line-height));

  --dmd-font-weight-light: 300;
  --dmd-font-weight-base: 400;
  --dmd-font-weight-medium: 500;
  --dmd-font-weight-bold: 700;
  --dmd-font-weight-black: 900;
}

@media (width >= 768px) {
  :root {
    --dmd-font-size-base: 1rem;

    --dmd-font-size-h1: 3rem;
    --dmd-font-size-h2: 2rem;
  }
}
