:root {
  /* The size of icons compared to the text */
  --dmd-icon-size: 1.25em;
  /*
    Adjust the icon to sit nicely next to text,
    probably needs changing per font
  */
  --dmd-icon-baseline-adjust: 0.25em;
}
