:root {
  --dmd-input-background: var(--dmd-theme-background);
  --dmd-input-background-focus: var(--dmd-theme-background);
  --dmd-input-background-disabled: var(--dmd-theme-background-muted);

  --dmd-input-border-width: 1px;
  --dmd-input-border-radius: var(--dmd-radius);
  --dmd-input-border-color: var(--dmd-theme-border-color);
  --dmd-input-border-color-hover: var(--dmd-theme-border-color-hover);
  --dmd-input-border-color-valid: var(--dmd-color-valid);
  --dmd-input-border-color-invalid: var(--dmd-color-invalid);

  --dmd-input-outline-offset: 4px;

  --dmd-input-color: var(--dmd-theme-color);

  --dmd-input-checked: var(--dmd-color-black);
  --dmd-input-checkbox-border-radius: var(--dmd-radius-sm);
  --dmd-input-radio-checkbox-padding: 0.1875rem;

  --dmd-input-padding-block: var(--dmd-spacing-sm);
  --dmd-input-padding-inline: var(--dmd-spacing);
  --dmd-input-padding: var(--dmd-input-padding-block)
    var(--dmd-input-padding-inline);

  --dmd-input-line-height: var(--dmd-font-line-height);

  /* Should be 16px minimum to avoid IOS zoom */
  --dmd-input-font-size: var(--dmd-font-size-default);
}
