:root {
  --diamond-input-background: var(--diamond-theme-background);
  --diamond-input-background-focus: var(--diamond-theme-background);
  --diamond-input-background-disabled: var(--diamond-theme-background-muted);

  --diamond-input-border-radius: var(--diamond-radius);
  --diamond-input-border-color: var(--diamond-theme-border-color);
  --diamond-input-border-color-hover: var(--diamond-theme-border-color-hover);
  --diamond-input-border-color-valid: var(--diamond-color-green-100);
  --diamond-input-border-color-invalid: var(--diamond-color-red-100);

  --diamond-input-color: var(--diamond-theme-color);

  --diamond-input-checked: var(--diamond-color-black);
  --diamond-input-checkbox-border-radius: var(--diamond-radius-sm);
  --diamond-input-radio-checkbox-padding: 0.1875rem;

  --diamond-input-padding-block: var(--diamond-spacing-sm);
  --diamond-input-padding-inline: var(--diamond-spacing);
  --diamond-input-padding: var(--diamond-input-padding-block)
    var(--diamond-input-padding-inline);

  --diamond-input-line-height: var(--diamond-font-line-height);

  /* Should be 16px minimum to avoid IOS zoom */
  --diamond-input-font-size: var(--diamond-font-size-default);
}
