:root {
  --dmd-label-color: var(--dmd-theme-color);
  --dmd-label-font-weight: var(--dmd-font-weight-base);
  --dmd-label-font-size: var(--dmd-font-size-base);
  --dmd-label-height: var(--dmd-spacing-thumb);

  --dmd-help-text-color: var(--dmd-theme-color);
  --dmd-help-text-color-valid: var(--dmd-color-valid);
  --dmd-help-text-color-invalid: var(--dmd-color-invalid);
  --dmd-help-text-font-size: var(--dmd-font-size-sm);
}
