:root {
  --diamond-spacing-thumb: 2.625rem;

  --diamond-spacing: 1rem;
  --diamond-spacing-xs: calc(var(--diamond-spacing) / 4);
  --diamond-spacing-sm: calc(var(--diamond-spacing) / 2);
  --diamond-spacing-lg: calc(var(--diamond-spacing) * 2);
  --diamond-spacing-xl: calc(var(--diamond-spacing) * 4);

  --diamond-spacing-fluid: clamp(1rem, 5vw, 4rem);
  --diamond-spacing-fluid-sm: clamp(1rem, 2.5vw, 3rem);
  --diamond-spacing-fluid-lg: clamp(1rem, 7.5vw, 5rem);
}
