:root {
  --dmd-spacing-thumb: 2.625rem;

  --dmd-spacing-md: 1rem;
  --dmd-spacing: var(--dmd-spacing-md);
  --dmd-spacing-xs: calc(var(--dmd-spacing) / 4);
  --dmd-spacing-sm: calc(var(--dmd-spacing) / 2);
  --dmd-spacing-lg: calc(var(--dmd-spacing) * 2);
  --dmd-spacing-xl: calc(var(--dmd-spacing) * 4);

  --dmd-spacing-fluid: clamp(1rem, 5vw, 4rem);
  --dmd-spacing-fluid-sm: clamp(1rem, 2.5vw, 3rem);
  --dmd-spacing-fluid-lg: clamp(1rem, 7.5vw, 5rem);
}
