:root {
  --dmd-theme-background: var(--dmd-color-white);
  --dmd-theme-background-muted: var(--dmd-color-grey-100);

  --dmd-theme-border-color: var(--dmd-color-grey-200);
  --dmd-theme-border-color-hover: #1a0dab;

  --dmd-theme-color: var(--dmd-color-grey-900);
  --dmd-theme-color-muted: var(--dmd-color-grey-700);

  --dmd-theme-heading-color: var(--dmd-theme-color);

  --dmd-theme-icon-color: var(--dmd-theme-color);

  --dmd-theme-link-color: #1a0dab;

  --dmd-theme-link-text-decoration: underline;
}
