:root,
::backdrop {
  --dmd-transition-duration: 0.2s;
  --dmd-transition-timing: ease-in-out;
  --dmd-transition: var(--dmd-transition-duration) var(--dmd-transition-timing);

  --dmd-transition-duration-boing: 0.3s;
  --dmd-transition-timing-boing: linear(
    0,
    0.06,
    0.25 18%,
    1 36%,
    0.81,
    0.75,
    0.81,
    1,
    0.94,
    1,
    1
  );
  --dmd-transition-boing: var(--dmd-transition-duration-boing)
    var(--dmd-transition-timing-boing);

  --dmd-transition-duration-pulse: 2.4s;
  --dmd-transition-timing-pulse: ease-in-out;

  --dmd-transition-duration-enter: 0.5s;
  --dmd-transition-timing-enter: ease-in-out;
  --dmd-transition-enter: var(--dmd-transition-duration-enter)
    var(--dmd-transition-timing-enter);
}

@media (prefers-reduced-motion) {
  :root {
    --dmd-transition-duration: 0s;
    --dmd-transition-duration-enter: 0s;
    --dmd-transition-duration-boing: 0s;
    --dmd-transition-duration-pulse: 0s;
  }
}
