:root {
  --dmd-wrap-xs: 320px;
  --dmd-wrap-sm: 480px;
  --dmd-wrap-md: 600px;
  --dmd-wrap-lg: 768px;
  --dmd-wrap-xl: 1024px;
  --dmd-wrap-xxl: 1280px;
  --dmd-wrap-xxxl: 1440px;
  --dmd-wrap-xxxxl: 1920px;
}
