dmd-grid {
  --dmd-grid-gap: var(--dmd-spacing);
  display: flex;
  margin: calc(var(--dmd-grid-gap) * -0.5);

  &[inline] {
    display: inline-flex;
  }

  /* wrap */

  &[wrap='wrap'] {
    flex-wrap: wrap;
  }

  &[wrap='wrap-reverse'] {
    flex-wrap: wrap-reverse;
  }

  &[direction='row'] {
    flex-direction: row;
  }

  /* direction */

  &[direction='row-reverse'] {
    flex-direction: row-reverse;
  }

  &[direction='column'] {
    flex-direction: column;
  }

  &[direction='column-reverse'] {
    flex-direction: column-reverse;
  }

  /* justify-content */

  &[justify-content='flex-start'] {
    justify-content: flex-start;
  }

  &[justify-content='flex-end'] {
    justify-content: flex-end;
  }

  &[justify-content='center'] {
    justify-content: center;
  }

  &[justify-content='space-between'] {
    justify-content: space-between;
  }

  &[justify-content='space-around'] {
    justify-content: space-around;
  }

  &[justify-content='space-evenly'] {
    justify-content: space-evenly;
  }

  /* align-items */

  &[align-items='flex-start'] {
    align-items: flex-start;
  }

  &[align-items='flex-end'] {
    align-items: flex-end;
  }

  &[align-items='center'] {
    align-items: center;
  }

  &[align-items='baseline'] {
    align-items: baseline;
  }

  /* gap */

  &[gap='none'] {
    --dmd-grid-gap: 0;
  }

  &[gap='xs'] {
    --dmd-grid-gap: var(--dmd-spacing-xs);
  }

  &[gap='sm'] {
    --dmd-grid-gap: var(--dmd-spacing-sm);
  }

  &[gap='md'] {
    --dmd-grid-gap: var(--dmd-spacing);
  }

  &[gap='lg'] {
    --dmd-grid-gap: var(--dmd-spacing-lg);
  }

  &[gap='xl'] {
    --dmd-grid-gap: var(--dmd-spacing-xl);
  }
}
