/*
  Prettier tried to put everything on new lines, but we don't want that in this file.
  Can't see how to disable just that rule.
*/
/* stylelint-disable prettier/prettier */

dmd-grid-item {
  display: block;
  flex: 0 0 auto;
  min-width: 0;
  padding: calc(var(--dmd-grid-gap) / 2);

  &[grow] {
    flex-grow: 1;
  }

  &[shrink] {
    flex-shrink: 1;
  }

  &[fill] {
    display: grid;
  }

  /*
    The conversion of attribute value to css variable can be removed once
    attr type-or-unit is supported https://caniuse.com/mdn-css_types_attr_type-or-unit
  */
  &[small-mobile='1'] { --dmd-small-mobile-cols: 1; }
  &[small-mobile='2'] { --dmd-small-mobile-cols: 2; }
  &[small-mobile='3'] { --dmd-small-mobile-cols: 3; }
  &[small-mobile='4'] { --dmd-small-mobile-cols: 4; }
  &[small-mobile='5'] { --dmd-small-mobile-cols: 5; }
  &[small-mobile='6'] { --dmd-small-mobile-cols: 6; }
  &[small-mobile='7'] { --dmd-small-mobile-cols: 7; }
  &[small-mobile='8'] { --dmd-small-mobile-cols: 8; }
  &[small-mobile='9'] { --dmd-small-mobile-cols: 9; }
  &[small-mobile='10'] { --dmd-small-mobile-cols: 10; }
  &[small-mobile='11'] { --dmd-small-mobile-cols: 11; }
  &[small-mobile='12'] { --dmd-small-mobile-cols: 12; }

  &[small-mobile] {
    width: calc(var(--dmd-small-mobile-cols) * 100% / 12);
  }

  &[small-mobile='auto'] {
    width: auto;
  }

  @media (width >= 375px) {
    &[mobile='1'] { --dmd-mobile-cols: 1; }
    &[mobile='2'] { --dmd-mobile-cols: 2; }
    &[mobile='3'] { --dmd-mobile-cols: 3; }
    &[mobile='4'] { --dmd-mobile-cols: 4; }
    &[mobile='5'] { --dmd-mobile-cols: 5; }
    &[mobile='6'] { --dmd-mobile-cols: 6; }
    &[mobile='7'] { --dmd-mobile-cols: 7; }
    &[mobile='8'] { --dmd-mobile-cols: 8; }
    &[mobile='9'] { --dmd-mobile-cols: 9; }
    &[mobile='10'] { --dmd-mobile-cols: 10; }
    &[mobile='11'] { --dmd-mobile-cols: 11; }
    &[mobile='12'] { --dmd-mobile-cols: 12; }

    &[mobile] {
      width: calc(var(--dmd-mobile-cols) * 100% / 12);
    }

    &[mobile='auto'] {
      width: auto;
    }
  }

  @media (width >= 480px) {
    &[large-mobile='1'] { --dmd-large-mobile-cols: 1; }
    &[large-mobile='2'] { --dmd-large-mobile-cols: 2; }
    &[large-mobile='3'] { --dmd-large-mobile-cols: 3; }
    &[large-mobile='4'] { --dmd-large-mobile-cols: 4; }
    &[large-mobile='5'] { --dmd-large-mobile-cols: 5; }
    &[large-mobile='6'] { --dmd-large-mobile-cols: 6; }
    &[large-mobile='7'] { --dmd-large-mobile-cols: 7; }
    &[large-mobile='8'] { --dmd-large-mobile-cols: 8; }
    &[large-mobile='9'] { --dmd-large-mobile-cols: 9; }
    &[large-mobile='10'] { --dmd-large-mobile-cols: 10; }
    &[large-mobile='11'] { --dmd-large-mobile-cols: 11; }
    &[large-mobile='12'] { --dmd-large-mobile-cols: 12; }

    &[large-mobile] {
      width: calc(var(--dmd-large-mobile-cols) * 100% / 12);
    }

    &[large-mobile='auto'] {
      width: auto;
    }
  }

  @media (width >= 600px) {
    &[small-tablet='1'] { --dmd-small-tablet-cols: 1; }
    &[small-tablet='2'] { --dmd-small-tablet-cols: 2; }
    &[small-tablet='3'] { --dmd-small-tablet-cols: 3; }
    &[small-tablet='4'] { --dmd-small-tablet-cols: 4; }
    &[small-tablet='5'] { --dmd-small-tablet-cols: 5; }
    &[small-tablet='6'] { --dmd-small-tablet-cols: 6; }
    &[small-tablet='7'] { --dmd-small-tablet-cols: 7; }
    &[small-tablet='8'] { --dmd-small-tablet-cols: 8; }
    &[small-tablet='9'] { --dmd-small-tablet-cols: 9; }
    &[small-tablet='10'] { --dmd-small-tablet-cols: 10; }
    &[small-tablet='11'] { --dmd-small-tablet-cols: 11; }
    &[small-tablet='12'] { --dmd-small-tablet-cols: 12; }

    &[small-tablet] {
      width: calc(var(--dmd-small-tablet-cols) * 100% / 12);
    }

    &[small-tablet='auto'] {
      width: auto;
    }
  }

  @media (width >= 768px) {
    &[tablet='1'] { --dmd-tablet-cols: 1; }
    &[tablet='2'] { --dmd-tablet-cols: 2; }
    &[tablet='3'] { --dmd-tablet-cols: 3; }
    &[tablet='4'] { --dmd-tablet-cols: 4; }
    &[tablet='5'] { --dmd-tablet-cols: 5; }
    &[tablet='6'] { --dmd-tablet-cols: 6; }
    &[tablet='7'] { --dmd-tablet-cols: 7; }
    &[tablet='8'] { --dmd-tablet-cols: 8; }
    &[tablet='9'] { --dmd-tablet-cols: 9; }
    &[tablet='10'] { --dmd-tablet-cols: 10; }
    &[tablet='11'] { --dmd-tablet-cols: 11; }
    &[tablet='12'] { --dmd-tablet-cols: 12; }

    &[tablet] {
      width: calc(var(--dmd-tablet-cols) * 100% / 12);
    }

    &[tablet='auto'] {
      width: auto;
    }
  }

  @media (width >= 1024px) {
    &[large-tablet='1'] { --dmd-large-tablet-cols: 1; }
    &[large-tablet='2'] { --dmd-large-tablet-cols: 2; }
    &[large-tablet='3'] { --dmd-large-tablet-cols: 3; }
    &[large-tablet='4'] { --dmd-large-tablet-cols: 4; }
    &[large-tablet='5'] { --dmd-large-tablet-cols: 5; }
    &[large-tablet='6'] { --dmd-large-tablet-cols: 6; }
    &[large-tablet='7'] { --dmd-large-tablet-cols: 7; }
    &[large-tablet='8'] { --dmd-large-tablet-cols: 8; }
    &[large-tablet='9'] { --dmd-large-tablet-cols: 9; }
    &[large-tablet='10'] { --dmd-large-tablet-cols: 10; }
    &[large-tablet='11'] { --dmd-large-tablet-cols: 11; }
    &[large-tablet='12'] { --dmd-large-tablet-cols: 12; }

    &[large-tablet] {
      width: calc(var(--dmd-large-tablet-cols) * 100% / 12);
    }

    &[large-tablet='auto'] {
      width: auto;
    }
  }

  @media (width >= 1280px) {
    &[small-desktop='1'] { --dmd-small-desktop-cols: 1; }
    &[small-desktop='2'] { --dmd-small-desktop-cols: 2; }
    &[small-desktop='3'] { --dmd-small-desktop-cols: 3; }
    &[small-desktop='4'] { --dmd-small-desktop-cols: 4; }
    &[small-desktop='5'] { --dmd-small-desktop-cols: 5; }
    &[small-desktop='6'] { --dmd-small-desktop-cols: 6; }
    &[small-desktop='7'] { --dmd-small-desktop-cols: 7; }
    &[small-desktop='8'] { --dmd-small-desktop-cols: 8; }
    &[small-desktop='9'] { --dmd-small-desktop-cols: 9; }
    &[small-desktop='10'] { --dmd-small-desktop-cols: 10; }
    &[small-desktop='11'] { --dmd-small-desktop-cols: 11; }
    &[small-desktop='12'] { --dmd-small-desktop-cols: 12; }

    &[small-desktop] {
      width: calc(var(--dmd-small-desktop-cols) * 100% / 12);
    }

    &[small-desktop='auto'] {
      width: auto;
    }
  }

  @media (width >= 1440px) {
    &[desktop='1'] { --dmd-desktop-cols: 1; }
    &[desktop='2'] { --dmd-desktop-cols: 2; }
    &[desktop='3'] { --dmd-desktop-cols: 3; }
    &[desktop='4'] { --dmd-desktop-cols: 4; }
    &[desktop='5'] { --dmd-desktop-cols: 5; }
    &[desktop='6'] { --dmd-desktop-cols: 6; }
    &[desktop='7'] { --dmd-desktop-cols: 7; }
    &[desktop='8'] { --dmd-desktop-cols: 8; }
    &[desktop='9'] { --dmd-desktop-cols: 9; }
    &[desktop='10'] { --dmd-desktop-cols: 10; }
    &[desktop='11'] { --dmd-desktop-cols: 11; }
    &[desktop='12'] { --dmd-desktop-cols: 12; }

    &[desktop] {
      width: calc(var(--dmd-desktop-cols) * 100% / 12);
    }

    &[desktop='auto'] {
      width: auto;
    }
  }

  @media (width >= 1920px) {
    &[large-desktop='1'] { --dmd-large-desktop-cols: 1; }
    &[large-desktop='2'] { --dmd-large-desktop-cols: 2; }
    &[large-desktop='3'] { --dmd-large-desktop-cols: 3; }
    &[large-desktop='4'] { --dmd-large-desktop-cols: 4; }
    &[large-desktop='5'] { --dmd-large-desktop-cols: 5; }
    &[large-desktop='6'] { --dmd-large-desktop-cols: 6; }
    &[large-desktop='7'] { --dmd-large-desktop-cols: 7; }
    &[large-desktop='8'] { --dmd-large-desktop-cols: 8; }
    &[large-desktop='9'] { --dmd-large-desktop-cols: 9; }
    &[large-desktop='10'] { --dmd-large-desktop-cols: 10; }
    &[large-desktop='11'] { --dmd-large-desktop-cols: 11; }
    &[large-desktop='12'] { --dmd-large-desktop-cols: 12; }

    &[large-desktop] {
      width: calc(var(--dmd-large-desktop-cols) * 100% / 12);
    }

    &[large-desktop='auto'] {
      width: auto;
    }
  }
}
