@import url('../../../styles/tokens/pulse.css');

diamond-loading-text {
  animation: pulse var(--diamond-pulse-duration) infinite linear;
  appearance: none;
  background: linear-gradient(
    90deg,
    var(--diamond-color-grey-100) 25%,
    var(--diamond-color-grey-300) 50%,
    var(--diamond-color-grey-100) 75%
  );
  background-size: 200% 100%;
  color: transparent;
  display: inline-block;
  text-wrap: pretty;
  user-select: none;
}
