dmd-section {
  background: var(--dmd-theme-background);
  color: var(--dmd-theme-color);
  display: block;
  padding-block: var(--dmd-spacing);

  &[padding='xs'] {
    padding-block: var(--dmd-spacing-xs);
  }

  &[padding='sm'] {
    padding-block: var(--dmd-spacing-sm);
  }

  &[padding='lg'] {
    padding-block: var(--dmd-spacing-lg);
  }

  &[padding='xl'] {
    padding-block: var(--dmd-spacing-xl);
  }

  &[padding='fluid-sm'] {
    padding-block: var(--dmd-spacing-fluid-sm);
  }

  &[padding='fluid'] {
    padding-block: var(--dmd-spacing-fluid);
  }

  &[padding='fluid-lg'] {
    padding-block: var(--dmd-spacing-fluid-lg);
  }

  &[padding='none'] {
    padding-block: 0;
  }
}
