dmd-list {
  --dmd-list-spacing: 0;
  display: block;

  li,
  dl > div {
    margin-bottom: var(--dmd-list-spacing);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &[variant='unstyled'] {
    ul,
    ol,
    dl {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  &[variant='icon'] {
    ul,
    ol {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
    }

    li,
    dl > div {
      padding-left: var(--dmd-icon-size);
    }

    dmd-icon {
      /* The 4px handles inline block magic spacing */
      margin-left: calc(-1 * (var(--dmd-icon-size) + 4px));
    }
  }

  &[spacing='xs'] {
    --dmd-list-spacing: var(--dmd-spacing-xs);
  }

  &[spacing='sm'] {
    --dmd-list-spacing: var(--dmd-spacing-sm);
  }

  &[spacing='md'] {
    --dmd-list-spacing: var(--dmd-spacing-md);
  }

  &[spacing='lg'] {
    --dmd-list-spacing: var(--dmd-spacing-lg);
  }

  &[spacing='xl'] {
    --dmd-list-spacing: var(--dmd-spacing-xl);
  }

  &[spacing='fluid'] {
    --dmd-list-spacing: var(--dmd-spacing-fluid);
  }

  &[spacing='fluid-sm'] {
    --dmd-list-spacing: var(--dmd-spacing-fluid-sm);
  }

  &[spacing='fluid-lg'] {
    --dmd-list-spacing: var(--dmd-spacing-fluid-lg);
  }
}
