.docblock-argstable-body label {
  min-height: auto;
}

docs-placeholder {
  background: var(--dmd-color-grey-50);
  border: dotted 1px var(--dmd-theme-border-color);
  border-radius: var(--dmd-radius-sm);
  display: block;
  padding: var(--dmd-spacing-lg);
  text-align: left;
}
