.docblock-argstable-body label {
  min-height: auto;
}

docs-placeholder {
  background: var(--diamond-color-grey-50);
  border: dotted 1px var(--diamond-theme-border-color);
  border-radius: var(--diamond-radius-sm);
  display: block;
  padding: var(--diamond-spacing-lg);
  text-align: left;
}
