dmd-button {
  --_background: var(--dmd-button-background);
  --_background-hover: var(--dmd-button-background-hover);
  --_background-disabled: var(--dmd-button-background-disabled);
  --_border-color: var(--dmd-button-border-color);
  --_border-color-hover: var(--dmd-button-border-color-hover);
  --_border-color-disabled: var(--dmd-button-border-color-disabled);
  --_color: var(--dmd-button-color);
  --_color-hover: var(--dmd-button-color-hover);
  --_color-disabled: var(--dmd-button-color-disabled);
  --_size: 1rem;
  --_padding-block: var(--dmd-button-padding-block);
  --_padding-inline: var(--dmd-button-padding-inline);
  --_line-height: var(--dmd-button-line-height);
  --dmd-icon-baseline-adjust: 0.1em;
  display: inline-block;

  /* Structural button styles */
  dmd-loading-button,
  button,
  a,
  input:not([type='file']),
  input[type='file']::file-selector-button {
    align-items: center;
    appearance: none;
    border-radius: var(--dmd-button-border-radius);
    cursor: pointer;
    display: inline-flex;
    font: inherit;
    font-size: var(--_size, 1rem);
    font-weight: var(--dmd-button-font-weight);
    gap: var(--dmd-button-gap);
    justify-content: center;
    letter-spacing: inherit;
    line-height: var(--_line-height);
    padding-block: var(--_padding-block);
    padding-inline: var(--_padding-inline);
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    -webkit-touch-callout: none;
    transition:
      background var(--dmd-transition),
      color var(--dmd-transition),
      border-color var(--dmd-transition);
    user-select: none;

    @media (hover: hover) {
      &:not([disabled]):hover {
        --_background: var(--_background-hover);
        --_border-color: var(--_border-color-hover);
        --_color: var(--_color-hover);
      }
    }

    &:not(:active):focus-visible {
      outline-offset: var(--dmd-button-outline-offset);
      position: relative;
      /* This z-index prevents the focus outline from being clipped by the parent */
      z-index: 1;
    }
  }

  /* Presentational button styles */
  button,
  a,
  input:not([type='file']),
  input[type='file']::file-selector-button {
    background: var(--_background);
    border: var(--dmd-border);
    border-color: var(--_border-color);
    color: var(--_color);
    text-shadow: var(--dmd-button-text-shadow);
  }

  svg {
    block-size: var(--dmd-icon-size);
    flex-shrink: 0;
    inline-size: var(--dmd-icon-size);
  }

  [disabled],
  [type='file'][disabled]::file-selector-button {
    --_background: var(--_background-disabled);
    --_color: var(--_color-disabled);
    --_border-color: var(--_border-color-disabled);
    cursor: not-allowed;
  }

  &[size='sm'] {
    --_size: 0.875rem;
  }

  &[size='lg'] {
    --_size: 1.25rem;
  }

  &[width='full-width'] {
    display: block;

    dmd-loading-button,
    button,
    a,
    input {
      width: 100%;
    }
  }

  @media (width < 480px) {
    &[width='full-width-mobile'] {
      display: block;

      dmd-loading-button,
      button,
      a,
      input {
        width: 100%;
      }
    }
  }

  &[width='square'] {
    --_line-height: 1;
    --_padding-inline: var(--dmd-button-padding-block);

    dmd-loading-button,
    button,
    a,
    input {
      aspect-ratio: 1 / 1;
    }
  }

  &[variant='primary'] {
    --_background: var(--dmd-button-primary-background);
    --_background-hover: var(--dmd-button-primary-background-hover);
    --_background-disabled: var(--dmd-button-primary-background-disabled);
    --_border-color: var(--dmd-button-primary-border-color);
    --_border-color-hover: var(--dmd-button-primary-border-color-hover);
    --_border-color-disabled: var(--dmd-button-primary-border-color-disabled);
    --_color: var(--dmd-button-primary-color);
    --_color-hover: var(--dmd-button-primary-color-hover);
    --_color-disabled: var(--dmd-button-primary-color-disabled);
  }

  &[variant='secondary'] {
    --_background: var(--dmd-button-secondary-background);
    --_background-hover: var(--dmd-button-secondary-background-hover);
    --_background-disabled: var(--dmd-button-secondary-background-disabled);
    --_border-color: var(--dmd-button-secondary-border-color);
    --_border-color-hover: var(--dmd-button-secondary-border-color-hover);
    --_border-color-disabled: var(--dmd-button-secondary-border-color-disabled);
    --_color: var(--dmd-button-secondary-color);
    --_color-hover: var(--dmd-button-secondary-color-hover);
    --_color-disabled: var(--dmd-button-secondary-color-disabled);
  }

  &[variant='text'] {
    --_background: var(--dmd-button-text-background);
    --_background-hover: var(--dmd-button-text-background-hover);
    --_background-disabled: var(--dmd-button-text-background-disabled);
    --_border-color: var(--dmd-button-text-border-color);
    --_border-color-hover: var(--dmd-button-text-border-color-hover);
    --_border-color-disabled: var(--dmd-button-text-border-color-disabled);
    --_color: var(--dmd-button-text-color);
    --_color-hover: var(--dmd-button-text-color-hover);
    --_color-disabled: var(--dmd-button-text-color-disabled);
    /* Text button is square */
    --_padding-inline: var(--dmd-button-padding-block);

    dmd-loading-button,
    button,
    a,
    input {
      /* Remove padding whilst retaining a clickable area large enough for thumbs  */
      margin: calc(var(--_padding-block) * -1);
    }
  }

  input[type='file'] {
    background-color: var(--dmd-button-file-background);
    border-radius: var(--dmd-button-border-radius);
    inline-size: 100%;
    max-inline-size: max-content;

    &::file-selector-button {
      margin-inline-end: var(--dmd-spacing);
    }
  }
}
