/**
 * Generic styles for all buttons
 */
button,
diamond-button a,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file'],
input[type='file']::file-selector-button {
  --_background: var(--diamond-button-background);
  --_background-hover: var(--diamond-button-background-hover);
  --_background-disabled: var(--diamond-button-background-disabled);
  --_border-color: var(--diamond-button-border-color);
  --_border-color-hover: var(--diamond-button-border-color-hover);
  --_border-color-disabled: var(--diamond-button-border-color-disabled);
  --_color: var(--diamond-button-color);
  --_color-hover: var(--diamond-button-color-hover);
  --_color-disabled: var(--diamond-button-color-disabled);

  --_size: 1rem;
  --_padding-block: var(--diamond-button-padding-block);
  --_padding-inline: var(--diamond-button-padding-inline);

  font: inherit;
  letter-spacing: inherit;
  line-height: 1.5;
  border-radius: var(--diamond-button-border-radius);
}

button,
diamond-button a,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file']::file-selector-button {
  cursor: pointer;
  touch-action: manipulation;

  font-size: var(--_size, 1rem);
  background: var(--_background);
  color: var(--_color);
  border: var(--diamond-border);
  border-color: var(--_border-color);
  text-shadow: var(--diamond-button-text-shadow);
  transition:
    background var(--diamond-transition),
    color var(--diamond-transition),
    border-color var(--diamond-transition),
    outline-offset var(--diamond-transition);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--diamond-button-gap);

  font-weight: var(--diamond-button-font-weight);
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);

  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  @media (hover: hover) {
    &:hover {
      --_background: var(--_background-hover);
      --_border-color: var(--_border-color-hover);
      --_color: var(--_color-hover);
    }
  }

  &:not(:active):focus-visible {
    outline-offset: var(--diamond-button-outline-offset);
  }

  &[type='button'] {
    appearance: none;
  }

  &[disabled] {
    --_background: var(--_background-disabled);
    --_color: var(--_color-disabled);
    --_border-color: var(--_border-color-disabled);
    cursor: not-allowed;
  }
}

input[type='file'] {
  inline-size: 100%;
  max-inline-size: max-content;
  background-color: var(--diamond-button-file-background);

  &::file-selector-button {
    appearance: none;
    margin-inline-end: var(--diamond-spacing);
  }
}

button,
diamond-button a,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  svg {
    block-size: var(--diamond-button-icon-size);
    inline-size: var(--diamond-button-icon-size);
    stroke: currentColor;
    filter: drop-shadow(var(--diamond-button-text-shadow));

    flex-shrink: 0;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

/**
 * diamond-button specific styles
 */
diamond-button a {
  text-decoration: none;
  color: var(--_color);
}

diamond-button :where(button),
diamond-button :where(input[type='button']),
diamond-button :where(input[type='submit']),
diamond-button :where(input[type='reset']),
diamond-button :where(input[type='file']),
diamond-button :where(input[type='file'])::file-selector-button,
diamond-button a {
  diamond-button[size='sm'] & {
    --_size: 0.875rem;
  }

  diamond-button[size='lg'] & {
    --_size: 1.25rem;
  }

  diamond-button[width='full-width'] & {
    width: 100%;
  }

  @media (max-width: 480px) {
    diamond-button[width='full-width-mobile'] & {
      width: 100%;
    }
  }

  diamond-button[width='square'] & {
    --_padding-inline: var(--diamond-button-padding-block);
  }

  diamond-button[variant='primary'] & {
    --_background: var(--diamond-button-primary-background);
    --_background-hover: var(--diamond-button-primary-background-hover);
    --_background-disabled: var(--diamond-button-primary-background-disabled);
    --_border-color: var(--diamond-button-primary-border-color);
    --_border-color-hover: var(--diamond-button-primary-border-color-hover);
    --_border-color-disabled: var(
      --diamond-button-primary-border-color-disabled
    );
    --_color: var(--diamond-button-primary-color);
    --_color-hover: var(--diamond-button-primary-color-hover);
    --_color-disabled: var(--diamond-button-primary-color-disabled);
  }

  diamond-button[variant='secondary'] & {
    --_background: var(--diamond-button-secondary-background);
    --_background-hover: var(--diamond-button-secondary-background-hover);
    --_background-disabled: var(--diamond-button-secondary-background-disabled);
    --_border-color: var(--diamond-button-secondary-border-color);
    --_border-color-hover: var(--diamond-button-secondary-border-color-hover);
    --_border-color-disabled: var(
      --diamond-button-secondary-border-color-disabled
    );
    --_color: var(--diamond-button-secondary-color);
    --_color-hover: var(--diamond-button-secondary-color-hover);
    --_color-disabled: var(--diamond-button-secondary-color-disabled);
  }

  diamond-button[variant='text'] & {
    --_background: var(--diamond-button-text-background);
    --_background-hover: var(--diamond-button-text-background-hover);
    --_background-disabled: var(--diamond-button-text-background-disabled);
    --_border-color: var(--diamond-button-text-border-color);
    --_border-color-hover: var(--diamond-button-text-border-color-hover);
    --_border-color-disabled: var(--diamond-button-text-border-color-disabled);
    --_color: var(--diamond-button-text-color);
    --_color-hover: var(--diamond-button-text-color-hover);
    --_color-disabled: var(--diamond-button-text-color-disabled);
    /* Text button is square */
    --_padding-inline: var(--diamond-button-padding-block);
    /* Remove padding whilst retaining a clickable area large enough for thumbs  */
    margin: calc(var(--_padding-block) * -1);
  }
}
