/* Font */

.dmd-text-font-body {
  font-family: var(--dmd-font-family);
  font-size: var(--dmd-font-size-base);
  font-weight: var(--dmd-font-weight-base);
  line-height: var(--dmd-font-line-height);
  text-wrap: pretty;
}

.dmd-text-font-heading {
  font-family: var(--dmd-font-family-heading);
  font-weight: var(--dmd-font-weight-bold);
  line-height: var(--dmd-font-line-height-heading);
  text-wrap: balance;
}

/* Size */

.dmd-text-size-default {
  font-size: var(--dmd-font-size-default);
}

.dmd-text-size-xs {
  font-size: var(--dmd-font-size-xs);
}

.dmd-text-size-sm {
  font-size: var(--dmd-font-size-sm);
}

.dmd-text-size-base {
  font-size: var(--dmd-font-size-base);
}

.dmd-text-size-md {
  font-size: var(--dmd-font-size-md);
}

.dmd-text-size-lg {
  font-size: var(--dmd-font-size-lg);
}

.dmd-text-size-xl {
  font-size: var(--dmd-font-size-xl);
}

.dmd-text-size-xxl {
  font-size: var(--dmd-font-size-xxl);
}

.dmd-text-size-xxxl {
  font-size: var(--dmd-font-size-xxxl);
}

.dmd-text-size-h1 {
  font-size: var(--dmd-font-size-h1);
}

.dmd-text-size-h2 {
  font-size: var(--dmd-font-size-h2);
}

.dmd-text-size-h3 {
  font-size: var(--dmd-font-size-h3);
}

.dmd-text-size-h4 {
  font-size: var(--dmd-font-size-h4);
}

/* Weight */

.dmd-text-weight-light {
  font-weight: var(--dmd-font-weight-light);
}

.dmd-text-weight-medium {
  font-weight: var(--dmd-font-weight-medium);
}

.dmd-text-weight-bold {
  font-weight: var(--dmd-font-weight-bold);
}

.dmd-text-weight-black {
  font-weight: var(--dmd-font-weight-black);
}

.dmd-text-weight-body {
  font-weight: var(--dmd-font-weight-base);
}

.dmd-text-weight-heading {
  font-weight: var(--dmd-font-weight-bold);
}

/* Alignment */

.dmd-text-align-left {
  text-align: left;
}

.dmd-text-align-center {
  text-align: center;
}

.dmd-text-align-right {
  text-align: right;
}

/* Wrap */

.dmd-text-wrap-balance {
  text-wrap: balance;
}

.dmd-text-wrap-pretty {
  text-wrap: pretty;
}

/* Truncate */

.dmd-text-truncate,
.dmd-text-line-limit-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Line limit */
.dmd-text-line-limit-2,
.dmd-text-line-limit-3,
.dmd-text-line-limit-4 {
  -webkit-box-orient: vertical;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  overflow: hidden;
}

.dmd-text-line-limit-2 {
  -webkit-line-clamp: 2;
}

.dmd-text-line-limit-3 {
  -webkit-line-clamp: 3;
}

.dmd-text-line-limit-4 {
  -webkit-line-clamp: 4;
}

/* Decoration */

.dmd-text-decoration-none {
  text-decoration: none;
}
