:root {
  --dmd-theme-background-light: var(--dmd-color-white);
  --dmd-theme-background-muted-light: var(--dmd-color-grey-100);
  --dmd-theme-border-color-light: var(--dmd-color-grey-100);
  --dmd-theme-border-color-hover-light: #1a0dab;
  --dmd-theme-color-light: var(--dmd-color-grey-900);
  --dmd-theme-color-muted-light: var(--dmd-color-grey-700);
  --dmd-theme-heading-color-light: var(--dmd-color-grey-900);
  --dmd-theme-icon-color-light: var(--dmd-color-grey-900);
  --dmd-theme-link-color-light: #1a0dab;
  --dmd-theme-link-text-decoration-light: underline;

  --dmd-theme-background-medium: var(--dmd-color-grey-100);
  --dmd-theme-background-muted-medium: var(--dmd-color-grey-200);
  --dmd-theme-border-color-medium: var(--dmd-color-grey-300);
  --dmd-theme-border-color-hover-medium: #1a0dab;
  --dmd-theme-color-medium: var(--dmd-color-grey-900);
  --dmd-theme-color-muted-medium: var(--dmd-color-grey-700);
  --dmd-theme-heading-color-medium: var(--dmd-color-grey-900);
  --dmd-theme-icon-color-medium: var(--dmd-color-grey-900);
  --dmd-theme-link-color-medium: #1a0dab;
  --dmd-theme-link-text-decoration-medium: underline;

  --dmd-theme-background-dark: var(--dmd-color-grey-900);
  --dmd-theme-background-muted-dark: var(--dmd-color-grey-800);
  --dmd-theme-border-color-dark: var(--dmd-color-grey-900);
  --dmd-theme-border-color-hover-dark: #1a0dab;
  --dmd-theme-color-dark: var(--dmd-color-white);
  --dmd-theme-color-muted-dark: var(--dmd-color-grey-100);
  --dmd-theme-heading-color-dark: var(--dmd-color-white);
  --dmd-theme-icon-color-dark: var(--dmd-color-white);
  --dmd-theme-link-color-dark: var(--dmd-color-white);
  --dmd-theme-link-text-decoration-dark: underline;

  --dmd-theme-background: var(--dmd-theme-background-light);
  --dmd-theme-background-muted: var(--dmd-theme-background-muted-light);
  --dmd-theme-border-color: var(--dmd-theme-border-color-light);
  --dmd-theme-border-color-hover: var(--dmd-theme-border-color-hover-light);
  --dmd-theme-color: var(--dmd-theme-color-light);
  --dmd-theme-color-muted: var(--dmd-theme-color-muted-light);
  --dmd-theme-heading-color: var(--dmd-theme-heading-color-light);
  --dmd-theme-icon-color: var(--dmd-theme-icon-color-light);
  --dmd-theme-link-color: var(--dmd-theme-link-color-light);
  --dmd-theme-link-text-decoration: var(--dmd-theme-link-text-decoration-light);
}

.dmd-theme-light {
  --dmd-theme-background: var(--dmd-theme-background-light);
  --dmd-theme-background-muted: var(--dmd-theme-background-muted-light);
  --dmd-theme-border-color: var(--dmd-theme-border-color-light);
  --dmd-theme-border-color-hover: var(--dmd-theme-border-color-hover-light);
  --dmd-theme-color: var(--dmd-theme-color-light);
  --dmd-theme-color-muted: var(--dmd-theme-color-muted-light);
  --dmd-theme-heading-color: var(--dmd-theme-heading-color-light);
  --dmd-theme-icon-color: var(--dmd-theme-icon-color-light);
  --dmd-theme-link-color: var(--dmd-theme-link-color-light);
  --dmd-theme-link-text-decoration: var(--dmd-theme-link-text-decoration-light);
}

.dmd-theme-medium {
  --dmd-theme-background: var(--dmd-theme-background-medium);
  --dmd-theme-background-muted: var(--dmd-theme-background-muted-medium);
  --dmd-theme-border-color: var(--dmd-theme-border-color-medium);
  --dmd-theme-border-color-hover: var(--dmd-theme-border-color-hover-medium);
  --dmd-theme-color: var(--dmd-theme-color-medium);
  --dmd-theme-color-muted: var(--dmd-theme-color-muted-medium);
  --dmd-theme-heading-color: var(--dmd-theme-heading-color-medium);
  --dmd-theme-icon-color: var(--dmd-theme-icon-color-medium);
  --dmd-theme-link-color: var(--dmd-theme-link-color-medium);
  --dmd-theme-link-text-decoration: var(
    --dmd-theme-link-text-decoration-medium
  );
}

.dmd-theme-dark {
  --dmd-theme-background: var(--dmd-theme-background-dark);
  --dmd-theme-background-muted: var(--dmd-theme-background-muted-dark);
  --dmd-theme-border-color: var(--dmd-theme-border-color-dark);
  --dmd-theme-border-color-hover: var(--dmd-theme-border-color-hover-dark);
  --dmd-theme-color: var(--dmd-theme-color-dark);
  --dmd-theme-color-muted: var(--dmd-theme-color-muted-dark);
  --dmd-theme-heading-color: var(--dmd-theme-heading-color-dark);
  --dmd-theme-icon-color: var(--dmd-theme-icon-color-dark);
  --dmd-theme-link-color: var(--dmd-theme-link-color-dark);
  --dmd-theme-link-text-decoration: var(--dmd-theme-link-text-decoration-dark);
}
